section.about
  h1.sub-title ABOUT US

  .about-container
    .about-text
      p.
        Mirum est notare quam littera gothica quam nunc putamus parum. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie. Quinta decima eodem modo typi qui nunc nobis videntur parum. Dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit. Litterarum formas humanitatis per seacula quarta decima et; clari fiant sollemnes. Lectores legere me lius quod ii legunt saepius? Suscipit lobortis nisl ut aliquip ex ea commodo consequat consequat vel illum praesent luptatum zzril.

        Volutpat ut wisi, enim ad minim veniam quis nostrud exerci tation ullamcorper suscipit lobortis! Decima eodem modo typi qui nunc, nobis videntur parum clari fiant sollemnes in.

    .member-container
      .member
        .photo
          img(src='assets/img/staff-placeholder.jpg')
        h3 Wibke Giese
        .description
          p Volutpat ut wisi, enim ad minim veniam quis nostrud exerci tation ullamcorper suscipit lobortis! Decima eodem modo typi qui nunc, nobis videntur parum clari fiant sollemnes in.
      .member
        .photo
          img(src='assets/img/staff-placeholder.jpg')
        h3 Wibke Giese
        .description
          p Volutpat ut wisi, enim ad minim veniam quis nostrud exerci tation ullamcorper suscipit lobortis! Decima eodem modo typi qui nunc, nobis videntur parum clari fiant sollemnes in.
