section#contact
  h1.sub-title CONTACT
  .info-container
    ul.info-list
      li: p Wibke Giese

      li: p Tandelmarktgasse 1 | 1020 Wien

      li: p 0660 199 35 91
  .map-container
    #map


    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDZ6aLnqoI68taILE3qKVivT48lSffCSjo&callback=initMap')