section#home
  .mobile-menu
    .logo-wrapper
      a(href='#home').scroll-on-page-link.logo
        img(src='../assets/img/logo_main.svg')

  .home-wrapper
    a(href='#home').scroll-on-page-link.logo
      img(src='../assets/img/logo_main.svg')
    .menu-wrapper
      ul.lang-menu
        li.lang-select.lang-select__left
          a(href='../') DE
        li.li-sep /
        li.lang-select.langselect__right
          a(href='').active EN
      ul.link-menu
        li.li-item
          a(href='#gallery').scroll-on-page-link Gallery
        li.li-item
          a(href='#service').scroll-on-page-link Service
        li.li-item
          a(href='#contact').scroll-on-page-link Contact
        li.li-item.li-booking
          a(href='#book') Book Appointment

