
<section id="home">
  <div class="home-wrapper"><a class="scroll-on-page-link logo no-select" href="#home"><img src="../assets/img/logo_main.svg" alt="Salon am Markt"/></a>
    <div class="menu-wrapper">
      <ul class="lang-menu no-select">
        <li class="lang-select lang-select__left"><a href="../" data-ajax="false">DE</a></li>
        <li class="li-sep">/</li>
        <li class="lang-select langselect__right"><a class="active">EN</a></li>
      </ul>
      <ul class="link-menu no-select">
        <li class="li-item"><a class="scroll-on-page-link" href="#gallery">Gallery</a></li>
        <li class="li-item"><a class="scroll-on-page-link" href="#about">About us</a></li>
        <li class="li-item"><a class="scroll-on-page-link" href="#service">Service</a></li>
        <li class="li-item"><a class="scroll-on-page-link" href="#contact">Contact</a></li>
        <li class="li-item li-booking"><a class="timify-button" href="#" data-id="5a18161c7762f852d7c67a9a">Schedule Appointment</a>
          <script id="timify" async="" type="text/javascript" src="https://widget.timify.com/js/widget.js" data-position="flexible"></script>
        </li>
      </ul>
    </div>
    <div class="social-wrapper">
      <ul class="social-menu">
        <li><a href="https://www.facebook.com/SALON-am-MARKT-1485719014791619/" target="_blank"><img class="icon icon__facebook" src="../assets/img/icon_facebookBWbig.svg"/></a></li>
        <li><a href="https://www.instagram.com/salonammarkt/" target="_blank"><img class="icon icon__instagram" src="../assets/img/icon_instagramBWbig.svg"/></a></li>
      </ul>
    </div>
  </div>
</section>