
<section id="impressum">
  <h1 class="sub-title">Impressum</h1>
  <ul class="imp-list">
    <li>
      <p>SALON am MARKT</p>
    </li>
    <li>
      <p>Hair salon</p>
    </li>
    <li>
      <p>Tandelmarktgasse 1</p>
    </li>
    <li>
      <p>1020 Wien</p>
    </li>
    <li>
      <p>0660 199 35 91</p>
    </li>
    <li>
      <p>info@salonammarkt.at*</p>
    </li>
    <li>
      <p class="small">*It's not possible to make reservations via e-mail!</p>
    </li><br/>
    <li>
      <p class="small">Owner:</p>
    </li>
    <li>
      <p>Wibke Giese</p>
    </li>
    <li>
      <p>ATU 715 8 3404</p>
    </li><br/>
    <li>
      <p class="small">Design by</p>
    </li>
    <li>
      <p><a href="http://madame.at/">MADAME Architects ZT GmbH</a></p>
    </li>
    <li>
      <p class="small">Photos by</p>
    </li>
    <li>
      <p>Franziska Fuchs</p>
    </li>
    <li>
      <p class="small">Website by</p>
    </li>
    <li>
      <p><a href="http://seriouspigeon.com/">Emanuel Donner</a></p>
    </li>
  </ul>
</section>