section#service
  h1.sub-title SERVICE

  .service-container
    .service-wrapper.service-wrapper__left
      ul
        li.li-header
          p Cut
        li.li-content
          p Male 42€
        li.li-content
          p Female 62€
        li.li-header
          p Cut & Color
        li.li-content
          p from 112€
        li.li-header
          p Color
        li.li-content
          p from 85€


    .service-wrapper.service-wrapper__right
      ul
        li.li-header
          p Blow Dry & Style
        li.li-content
          p from 27€
        li.li-content
          p
        li.li-header
          p Special Color & Service
        li.li-content
          p from 142€
        li.li-header
          p Makeup & Updo
        li.li-content
          p from 45€

  .service-bottom
    p We kindly offer other services upon request
    p Products by
      a(href='https://www.lessismore.at/en/')
        |  Less is More – Organic Haircare

