@import url('https://fonts.googleapis.com/css?family=Catamaran:300,400,500,600')

html, body
  margin: 0
  padding: 0
  font-family: Catamaran, Arial
  height: 2000px

.sub-title
  text-align: center
  font-size: 2.5rem
  color: #333
  font-weight: 300
  margin: .5rem 0

ul
  list-style: none
  padding: 0

a
  text-decoration: none
  color: #838383

  &:hover
    color: #333

.small
  font-size: .7rem

section
  padding: 60px 0
  box-sizing: border-box

.no-select
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  
  -webkit-touch-callout: none
  -ms-text-size-adjust: none
  -webkit-text-size-adjust: none
  -webkit-tap-highlight-color: rgba(0,0,0,0)