section#about
  h1.sub-title ÜBER UNS

  .about-container
    .about-text

      //h2  SALON AM MARKT
      p: em  MEISTER AM WERK

      p.
        Der SALON AM MARKT ist deine urbane Oase mitten in Wien. Lehn dich zurück und lass dich von uns ganz individuell und professionell beraten. Wir verstehen und lieben unser Handwerk und unterstreichen mit unserem Können vor allem eines:
        deine Persönlichkeit.
      p.
        Du weißt noch nicht, was du mit deinen Haaren vorhast?  Wir nehmen uns viel Zeit, um den passenden Style und Look für dich zu finden -
        egal, ob klassisch oder unkonventionell, elegant oder extravagant.
      p.
        Du hast bereits konkrete Vorstellungen im Kopf? Wir setzen diese mit meisterlichem Handwerk um, bringen Ideen ein und sorgen für maßgeschnittene Perfektion bis in die Haarspitzen.
      p.
        Neugierig geworden? Dann komm vorbei, wir freuen uns auf deinen Besuch!

    .member-container
      .member
        .photo
          img(src='../assets/img/staff-mariana.jpg')
        h3 Mariana
      .member
        .photo
          img(src='../assets/img/staff-diana.jpg')
        h3 Diana
      .member
        .photo
          img(src='../assets/img/staff-wibke2.jpg')
        h3 Wibke
      .member
        .photo
          img(src='../assets/img/staff-kristina.jpg')
        h3 Kristina

    //.description
        //  p Volutpat ut wisi, enim ad minim veniam quis nostrud exerci tation ullamcorper suscipit lobortis! Decima eodem modo typi qui nunc, nobis videntur parum clari fiant sollemnes in.
        //
