section#about
  h1.sub-title
    span MEISTER
    span.smaller AM
    span WERK
  .about-container
    .about-text

      //h2  SALON AM MARKT


      p.
        Der SALON AM MARKT ist deine urbane Oase mitten in Wien. Lehn dich zurück und lass dich von uns ganz individuell und professionell beraten. Wir verstehen und lieben unser Handwerk und unterstreichen mit unserem Können vor allem eines:
        deine Persönlichkeit.
      p.
        Du weißt noch nicht, was du mit deinen Haaren vorhast? Wir nehmen uns viel Zeit, um den passenden Style und Look für dich zu finden -
        egal, ob klassisch oder unkonventionell, elegant oder extravagant.
      p.
        Du hast bereits konkrete Vorstellungen im Kopf? Wir setzen diese mit meisterlichem Handwerk um, bringen Ideen ein und sorgen für maßgeschnittene Perfektion bis in die Haarspitzen.
      p.
        Neugierig geworden? Dann komm vorbei, wir freuen uns auf deinen Besuch!

    .member-container
      //- .member
      //-   .photo
      //-     img(src='../assets/img/staff-mariana.jpg')
      //-   h3 Mariana
      .member
        .photo
          img(src='../assets/img/staff-sebastian.jpg')
        h3 Sebastian

      .member
        .photo
          img(src='../assets/img/staff-melanie.jpg')
        h3 Melanie
      .member
        .photo
          img(src='../assets/img/staff-zoya.jpg')
        h3 Zoya
      .member
        .photo
          img(src='../assets/img/staff-nina.jpg')
        h3 Nina
      .member
        .photo
          img(src='../assets/img/staff-shaib.jpg')
        h3.no-bottom-margin Shaib
        p Talent
      .member
        .photo
          img(src='../assets/img/staff-wibke2.jpg')
        h3 Wibke 
