section#about
  h1.sub-title
    span Du stehst im Zentrum.
    //- span MEISTER
    //- span.smaller AM
    //- span WERK
  .about-container
    .about-text

      //h2  SALON AM MARKT

      p
        | Unser Leitprinzip ist Individualit&auml;t. Im Salon am Markt setzen wir darauf, Looks zu kreieren, die dich als Person widerspiegeln.
      p
        | Der Schnitt ist pr&auml;zise und an die Proportion angepasst. Die Farbe unterstreicht das Konzept. Das Ziel bestimmt die Technik. Ob flie&szlig;ende Balayage, softe Grauabdeckung, oder satte Farben.
      p
        | Wir vertreten die Philosophie, dass das Selbst den Trend setzt.
      p
        | Um unsere Vision umzusetzen, legen wir Wert auf Partnerschaften, die mit unseren Idealen im Einklang stehen.
      p
        | Die Balance zwischen Sch&ouml;nheit und Nachhaltigkeit  gew&auml;hrleisten wir mit den Produkten von Less is More, zertifizierte Naturkosmetik aus Wien.
      p
        | Zus&auml;tzlich integrieren wir die hochwertigen F&auml;rbe- und Pflegeprodukte der Marke La Biosth&eacute;tique f&uuml;r ein ganzheitliches Ergebnis.


    .member-container
      //- .member
      //-   .photo
      //-     img(src='../assets/img/staff-mariana.jpg')
      //-   h3 Mariana
      .member
        .photo
          img(src='../assets/img/staff-sebastian.jpg')
        h3 Sebastian

      .member
        .photo
          img(src='../assets/img/staff-zoya.jpg')
        h3 Zoya
      .member
        .photo
          img(src='../assets/img/staff-julie.jpg')
        h3 Julie
      .member
        .photo
          img(src='../assets/img/staff-nina.jpg')
        h3.no-bottom-margin Nina
        p Bildungskarenz
      //- .member
      //-   .photo
      //-     img(src='../assets/img/staff-philipp.jpg')
      //-   h3 Philipp 
      //- .member
      //-   .photo
      //-     img(src='../assets/img/staff-shaib.jpg')
      //-   h3.no-bottom-margin Shaib
      //-   p Talent
      .member
        .photo
          img(src='../assets/img/staff-wibke2.jpg')
        h3.no-bottom-margin Wibke 
        p Termine bitte telefonisch vereinbaren. 