section#about
  h1.sub-title
    span MEISTER
    span.smaller AM
    span WERK
  .about-container
    .about-text

      //h2  SALON AM MARKT


      p.
        Willkommen im SALON AM MARKT! Bei uns am Karmelitermarkt findest du einen Ort, an dem du dich rundum wohlfühlen kannst. Lehn dich entspannt zurück und lass dich von uns individuell beraten. Wir sind echte Haarliebhaber und unser Ziel ist es, deine Persönlichkeit perfekt zur Geltung zu bringen.
      p.
        Hast du noch keine konkreten Vorstellungen für deine Haare? Kein Problem! Wir nehmen uns gern genügend Zeit, um gemeinsam den passenden Schnitt und die richtige Farbe für dich zu finden. Egal, ob Balayage oder Strähnentechnik, Blonde oder Braun, Bob oder Undercut - wir sind für alles offen und bei uns bist du in guten Händen.
      p.
        Hast du bereits konkrete Vorstellungen im Kopf? Perfekt! Mit unserem handwerklichen Können setzen wir deine Ideen meisterhaft um und bringen zusätzliche kreative Impulse ein. So sorgen wir dafür, dass dein Look bis in die Haarspitzen perfekt wird.
      p.
        Bist du neugierig geworden? Dann komm uns doch einfach besuchen. Wir freuen uns schon jetzt dich kennen zu lernen. 

    .member-container
      //- .member
      //-   .photo
      //-     img(src='../assets/img/staff-mariana.jpg')
      //-   h3 Mariana
      .member
        .photo
          img(src='../assets/img/staff-sebastian.jpg')
        h3 Sebastian

      .member
        .photo
          img(src='../assets/img/staff-melanie.jpg')
        h3 Melanie
      .member
        .photo
          img(src='../assets/img/staff-zoya.jpg')
        h3 Zoya
      .member
        .photo
          img(src='../assets/img/staff-nina.jpg')
        h3 Nina
      .member
        .photo
          img(src='../assets/img/staff-philipp.jpg')
        h3 Philipp 
      .member
        .photo
          img(src='../assets/img/staff-shaib.jpg')
        h3.no-bottom-margin Shaib
        p Talent
      .member
        .photo
          img(src='../assets/img/staff-wibke2.jpg')
        h3.no-bottom-margin Wibke 
        p Termine bitte telefonisch vereinbaren.