section#contact
  h1.sub-title KONTAKT
  .info-container
    ul.info-list
      li: p Wibke Giese

      li: p Tandelmarktgasse 1 | 1020 Wien

      li: p 0660 199 35 91
  .map-container
    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2658.4493987128562!2d16.375742615937497!3d48.21722047923001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476d07a66229458b%3A0x81b31ee3cfa7949!2sTandelmarktgasse+1%2C+1020+Wien!5e0!3m2!1sen!2sat!4v1499173488751", frameborder="0", style="border:0", allowfullscreen).map