section#contact
  h1.sub-title KONTAKT
  .info-container
    ul.info-list
      li: p Wibke Giese

      li: p Tandelmarktgasse 1 | 1020 Wien

      li: p 0660 199 35 91
  .map-container
    #map

    //script.
    //  function initMap() {
    //    var salonammarkt = {lat: 48.2172205, lng: 16.3779313};
    //    console.log('ashfg');
    //    var map = new google.maps.Map(document.getElementById('map'), {
    //      zoom: 16,
    //      center: salonammarkt,
    //      scrollwheel: false
    //    });
    //    var marker = new google.maps.Marker({
    //      position: salonammarkt,
    //      map: map
    //    });
    //  }
    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDZ6aLnqoI68taILE3qKVivT48lSffCSjo&callback=initMap')
