section#gallery
  ul.gallery-list
    li
      span Image 01
      div
        h3 Salon innen
    li
      span Image 02
      div
        h3 Salon außen
    li
      span Image 03
      div
        h3 Salon oben
