
<section id="jobs">
  <div class="jobs-container"><a class="logo no-select" href="/"><img src="../assets/img/logo_main.svg" alt="Salon am Markt"/></a>
    <div class="jobs-text">
      <div class="sub-title">GUTSCHEIN SCHENKEN</div>
      <p>Bis Weihnachten ist es nicht mehr lang.</p>
      <p>Dir fehlen noch Geschenke?</p>
      <p>Schenk doch deinen Lieben einen Besuch im Salon am Markt.</p>
      <p>Den Gutschein kannst du entweder wie gewohnt bei uns vor Ort im Salon kaufen, oder sende uns ein Mail und lass ihn dir bequem nach Hause schicken. </p>
      <p>Sobald wir deine Überweisung erhalten haben verschicken wir den Gutschein.</p>
      <p>Merry Christmas</p>
      <p>Dein Salon am Markt</p>
      <p>Mail an:<a href="mailto:info@salonammarkt.at">info@salonammarkt.at</a></p>
    </div>
  </div>
</section>