section#home

  .home-wrapper
    a(href='#home').scroll-on-page-link.logo.no-select
      img(src='assets/img/logo_main.svg')
    .menu-wrapper
      ul.lang-menu.no-select
        li.lang-select.lang-select__left
          a.active DE
        li.li-sep /
        li.lang-select.langselect__right
          a(href='en') EN
      ul.link-menu.no-select
        li.li-item
          a(href='#gallery').scroll-on-page-link Gallerie
        li.li-item
          a(href='#service').scroll-on-page-link Service
        li.li-item
          a(href='#contact').scroll-on-page-link Kontakt
        li.li-item.li-booking
          a.acuity-embed-button(href='https://app.acuityscheduling.com/schedule.php?owner=13906381', target='_blank') Termin buchen
          link#acuity-button-styles(rel='stylesheet', href='https://embed.acuityscheduling.com/embed/button/13906381.css')
          script(src='https://embed.acuityscheduling.com/embed/button/13906381.js', async='')
