.cookie-alert
  //- p.cookie-text Wir verwenden Cookies auf unserer minusplus Website, um Ihnen das bestmögliche Einkaufserlebnis zu ermöglichen.
  //- .cookie-button-wrapper
  //-   a.cookie-button.cookie-button--ok OK
  //-   a.cookie-button.cookie-button--info Weitere Informationen

section#home
  .home-background
    .home-wrapper

      a(href='#home').scroll-on-page-link.logo.no-select
        img(src='assets/img/logo_main.svg', alt='Salon am Markt')
      .menu-wrapper
        //ul.lang-menu.no-select
          li.lang-select.lang-select__left
            a.active DE
          li.li-sep /
          li.lang-select.langselect__right
            a(href='en', data-ajax="false") EN
        .aktion-alert-container
          .aktion-alert(onclick='hideAktionAlert()')
            img(src='assets/img/SaM_Aktion_Web_final.png')
        .email-alert-container
          .email-alert
            img(src='assets/img/alert2.png')
            p Bitte stelle nach Abschluss der Buchung sicher, dass du ein Bestätigungsmail bekommen hast, da sonst die Buchung leider nicht durchgegangen ist!
            button(onclick='hideEmailAlert()') Ok

        ul.link-menu.no-select
          li.li-item
            a(href='#gallery').scroll-on-page-link Galerie
          li.li-item
            a(href='#about').scroll-on-page-link Über uns
          li.li-item
            a(href='#service').scroll-on-page-link Service
          li.li-item
            a(href='#contact').scroll-on-page-link Kontakt
          li.li-item.li-booking

            a.timify-button(href='#', data-id="5a1d5037d45d41378633d773" onclick="showEmailAlert()") Termin buchen
            script#timify(async='', type='text/javascript', src='https://widget.timify.com/js/widget.js', data-position='flexible')
            
    .social-wrapper
      ul.social-menu
        li
          a(href='https://www.facebook.com/SALON-am-MARKT-1485719014791619/', target='_blank')
            img(src='assets/img/icon_facebookBWbig.svg').icon.icon__facebook
        li
          a(href='https://www.instagram.com/salonammarkt/', target='_blank')
            img(src='assets/img/icon_instagramBWbig.svg').icon.icon__instagram

    .arrow-down
      a(href='#gallery').scroll-on-page-link
        img(src="assets/img/arrow_down.png", alt="Pfeil hinunter")