section#impressum
  h1.sub-title Impressum

  ul.imp-list
    li: p SALON am MARKT
    li: p Friseur
    li: p Tandelmarktgasse 1
    li: p 1020 Wien
    li: p 0660 199 35 91
    li: p info@salonammarkt.at*

    li: p.small *Wir nehmen leider keine Reservierungen per email an!

    br

    li: p.small Inhaberin:

    li: p Wibke Giese
    li: p ATU 715 8 3404

    br

    li: p.small Design by

    li: p: a(href='http://madame.at/') MADAME Architects ZT GmbH

    li: p.small Website by

    li: p Emanuel Donner