section#impressum
  h1.sub-title
    span IMPRESSUM
    span.smaller AM
    span ENDE

  ul.imp-list
    li: p SALON AM MARKT
    li: p Friseur
    li: p Tandelmarktgasse 1
    li: p 1020 Wien
    li: p 0660 199 35 91
    li: p info@salonammarkt.at*

    li: p.small *Bitte schreib uns keine Mail - ruf gern an oder schick uns ein SMS!

    br

    li: p.small Inhaberin:

    li: p Wibke Giese
    li: p ATU 715 8 3404

    br

    li: p.small Design by

    li: p: a(href='http://madame.at/', target='_blank') MADAME Architects ZT GmbH

    li: p.small Photos by

    li: p Franziska Fuchs

    li: p.small Website by

    li: p: a(href='http://seriouspigeon.com/', target='_blank') Emanuel Donner