section#jobs
  .jobs-container
    a(href='/').logo.no-select
      img(src='../assets/img/logo_main.svg', alt='Salon am Markt')
    //- h1.sub-title SALON am MARKT
    .jobs-text
      .sub-title
        | Jobs
      p
        | F&uuml;r die Erweiterung unseres Teams suchen wir eine/n Stylist/-in auf Basis von 20-30h
      p
        | INFO ZUM UNTERNEHMEN:
      p
        | Im SALON am MARKT bieten wir Kunden einen professionellen Service auf h&ouml;chstem Niveau.
      p
        | Wir sind ein kleines famili&auml;res Team, das st&auml;ndig w&auml;chst. Uns ist es wichtig, dass sich jeder in der Arbeit kreativ entfalten kann. Vor allem aber m&ouml;chten wir, dass du dich wohl f&uuml;hlt und mit Freude in die Arbeit kommst.
      p
        | Auch Weiterentwicklung ist uns ein wichtiger Punkt: Du bekommst bei uns regelm&auml;&szlig;ig Schulungen. Wir achten darauf die aktuellen Styling Trends zu beherrschen und fachlich am neuesten Stand zu bleiben.
      p
        | Weil wir daran glauben, dass es besser f&uuml;r uns, die Kunden und die Umwelt ist, arbeiten wir mit organischer Naturkosmetik von 
        a(href="https://www.lessismore.at/de/", target="blank") LessIsMore.
      p
        | Wir freuen uns dich kennen zu lernen!
      p
        | Unterlagen unter 
        a(href="mailto:info@salonammarkt.at") info@salonammarkt.at
      p
        | WIR BIETEN:
      ul
        li Eine entspannte und ungezwungene Arbeitsatmosph&auml;re mit viel Zeit f&uuml;r jeden Kunden
        li Ein nettes Team in einem famili&auml;ren Miteinander, einen exklusiven und stylischen Salon
        li Regelm&auml;&szlig;ige in- und externe Schulungen
        li Eigenverantwortliches Arbeiten in einem inspirierenden Team
      p
        | ANFORDERUNGEN:
      ul
        li Du bist ein leidenschaftlicher Stylist/-in und  suchst eine neue Herausforderung
        li Du hast Spa&szlig; an Weiterentwicklung
        li Du hast eine abgeschlossene Ausbildung zum/-r Friseur/-in
        li Du zeichnest Dich durch Deine Schnitttechnik und Deinem Gef&uuml;hl f&uuml;r Haarfarben aus
        li Dein Umgang mit Kunden ist herzlich, professionell und von hoher Qualit&auml;t gepr&auml;gt
        li Du hast gute Umgangsformen, Sprach und Redegewandheit
      p
        | ANGABEN ZUM GEHALT
      p
        | Eine leistungsgerechte Bezahlung laut Kollektivvertrag bzw. &Uuml;berbezahlung nach Qualifikation m&ouml;glich zzgl. Umsatz- und Verkaufsprovision sowie preisg&uuml;nstiger Produkteinkauf
      p
        | ANSPRECHPARTNERIN:
      p
        | Wibke Giese