section#partner
  .partner-container
    h1.sub-title Kooperationen

    h2 Die HAARSPENDER

    p.
      Wir freuen uns sehr, als Salon am Markt ein Partner der Organisation Die Haarspender zu sein. Gemeinsam setzen wir uns seit Jahren für einen guten Zweck ein und möchten Kindern helfen, die von Haarverlust aufgrund von Krankheit oder medizinischen Behandlungen betroffen sind.
    p.
      Die Haarspender ist eine wunderbare Initiative, die Echthaarspenden sammelt, um daraus hochwertige Perücken für Kinder und Jugendliche zu fertigen, die ihr eigenes Haar verloren haben. Sie ermöglichen es den betroffenen Menschen, ihr Selbstbewusstsein und ihre Lebensqualität wiederherzustellen.
    p.
      
      Besuch die Website #[a(href="https://www.diehaarspender.at/", target="blank") https://www.diehaarspender.at/], um mehr über die Arbeit von Die Haarspender zu erfahren.
    p.
      Im Salon am Markt stehen wir dir gern zur Seite, um deine Fragen zu beantworten und dich über den Prozess der Haarspende zu informieren. Wir bedanken uns bei den vielen wunderbaren Spender:innen, die wir bisher in unserem Salon begrüßen durften.

    br
    h2.
      HAIR HELP THE OCEANS
    p.
      Wir im Salon am Markt sind stolz darauf, eine Partnerschaft mit der Organisation Hair Help the Oceans zu haben. Gemeinsam setzen wir uns für den Schutz und die Erhaltung unserer Ozeane ein.
    p.
      Hair Help the Oceans ist eine innovative Organisation, die sich dem Umweltschutz und der nachhaltigen Nutzung von Ressourcen widmet. Sie haben es sich zur Aufgabe gemacht, Haare, die in Salons geschnitten werden, zu sammeln und zu recyceln, um Meeresverschmutzung zu reduzieren und den Ökosystemen unserer Ozeane zu helfen.
    p.
      Als Teil unserer Kooperation mit Hair Help the Oceans möchten wir Dich über die Bedeutung dieser Initiative informieren. Durch Deinen Haarschnitt leistet Du einen aktiven Beitrag zum Umweltschutz und hilfst mit unsere Ozeane zu bewahren.
    p.
      Besuch die Website #[a(href="https://www.hair-help-the-oceans.com", target="_blank") www.hair-help-the-oceans.com], um mehr über die Arbeit von Hair Help the Oceans zu erfahren.

    br
    h2.
      PRODUKTE
 
    p.
      Im Salon am Markt arbeiten wir eng mit Herstellern zusammen, die unsere Werte teilen.
      Umweltbewusste Produkte, kurze Lieferketten, faire Löhne und hohe Qualität sind uns wichtig.
      Deshalb haben wir uns für Partnerschaften mit ausgewählten Unternehmen entschieden.
    p.
      La Biosthétique ist einer unserer Partner. Ihre Haarkosmetik steht für herausragende Qualität und wird mit hochwertigen Inhaltsstoffen in Deutschland hergestellt. Wir sind begeistert von ihrer Philosophie und ihrem Engagement, umweltbewusste Produkte zu entwickeln, die unseren Kunden einzigartige Ergebnisse bieten.
    p.
      Less is More ist ein wichtiger Partner mit dem wir von Anfang an zusammenarbeiten. Less is More bietet eine beeindruckende Auswahl an 100% organischen und natürlichen Haarpflegeprodukten, die höchsten Qualitätsstandards entsprechen und  in Österreich produziert werden. Die Biokosmetik von Less is More ist mit dem Label COSMOS Organic ausgezeichnet  und 100% vegan. Wir teilen die Werte, die sich auf Nachhaltigkeit, Umweltschutz und ethische Produktionspraktiken konzentrieren.
    p.
      Durch unsere Partnerschaften mit diesen Herstellern können wir sicherstellen, dass wir Dir im Salon am Markt nur hochwertige Produkte anbieten, die sowohl Deine Haaren als auch der Umwelt zugutekommen. Wir sind stolz darauf, Partner von La Biosthétique und Less is More zu sein und gemeinsam unseren Kunden ein außergewöhnliches Friseurerlebnis zu bieten.

