section#service
  h1.sub-title
    span SERVICE
    span.smaller MIT
    span STIL

  //- p Preise wurden erhöht

  .service-container
    .service-wrapper.service-wrapper__left
      ul
        li.li-header
          p Schnitt Unisex
        li.li-content
          p Small: Young Stylist € 45,-
        li.li-content
          p Medium: Young Stylist € 63,-
        li.li-content
          p Large: Young Stylist € 70,-
        br
        li.li-content
          p Small: Stylist € 51,-
        li.li-content
          p Medium: Stylist € 75,-
        li.li-content
          p Large: Stylist € 83,-
        br
        li.li-content
          p Kinder (bis 12J) € 31,-
        li.li-content
          p Teenager (13-16J) € 37-52,-

        li.li-header
          p Schnitt & Farbe
        li.li-content
          p ab € 133,-
    .service-wrapper.service-wrapper__right
      ul
        li.li-header
          p Farbe
        li.li-content
          p ab € 95,-
        li.li-header
          p Föhnen & Styling
        li.li-content
          p ab € 36,-
        li.li-content
          p
        li.li-header
          p spezielle Färbetechniken inkl. Schnitt
        li.li-content
          p ab € 168,-
        li.li-header
          p Make Up & Hochsteckfrisuren
        li.li-content
          p ab € 55,-
        li.li-header
          p Augenbrauen & Wimpern Färben 
        li.li-content
          p ab € 11,-

  .service-bottom
    p Wir erfüllen auf Anfrage auch gerne spezielle Kundenwünsche!
    p Produkte von
      a(target='_blank' href='https://www.lessismore.at/de/')
        |  Less is More – Organic Haircare