section#service
  h1.sub-title
    span SERVICE
    span.smaller MIT
    span STIL

  //- p Preise wurden erhöht

  .service-container
    .service-wrapper.service-wrapper__left
      ul
        li.li-header
          p Schnitt
        li.li-content
          p Herren 45€
        li.li-content
          p Damen 65€
        li.li-content
          p Kinder (bis 12) 27€
        li.li-content
          p Teenager (13-16) 35-48€
        li.li-header
          p Schnitt & Farbe
        li.li-content
          p ab 116€
        li.li-header
          p Farbe
        li.li-content
          p ab 89€

    .service-wrapper.service-wrapper__right
      ul
        li.li-header
          p Föhnen & Styling
        li.li-content
          p ab 31€
        li.li-content
          p
        li.li-header
          p spezielle Färbetechniken incl. Schnitt
        li.li-content
          p ab 146€
        li.li-header
          p Makeup & Hochsteckfrisuren
        li.li-content
          p ab 49€

  .service-bottom
    p Wir erfüllen auf Anfrage auch gerne spezielle Kundenwünsche!
    p Produkte von
      a(target='_blank' href='https://www.lessismore.at/de/')
        |  Less is More – Organic Haircare