section#service
  h1.sub-title SERVICE MIT STIL

  .service-container
    .service-wrapper.service-wrapper__left
      ul
        li.li-header
          p Schnitt
        li.li-content
          p Herren 42€
        li.li-content
          p Damen 62€
        li.li-header
          p Schnitt & Farbe
        li.li-content
          p ab 112€
        li.li-header
          p Farbe
        li.li-content
          p ab 85€
          
    .service-wrapper.service-wrapper__right
      ul
        li.li-header
          p Föhnen & Styling
        li.li-content
          p ab 27€
        li.li-content
          p
        li.li-header
          p spezielle Färbetechniken incl. Schnitt
        li.li-content
          p ab 142€
        li.li-header
          p Makeup & Hochsteckfrisuren
        li.li-content
          p ab 45€

  .service-bottom
    p Wir erfüllen auf Anfrage auch gerne spezielle Kundenwünsche!
    p Produkte von
      a(href='https://www.lessismore.at/de/')
        |  Less is More – Organic Haircare