@import url("https://fonts.googleapis.com/css?family=Catamaran:300,400,500,600");
html, body {
  margin: 0;
  padding: 0;
  font-family: Catamaran, Arial;
  height: 2000px; }

.sub-title {
  text-align: center;
  font-size: 2.5rem;
  color: #333;
  font-weight: 300;
  margin: .5rem 0; }

ul {
  list-style: none;
  padding: 0; }

a {
  text-decoration: none;
  color: #838383; }
  a:hover {
    color: #333; }

.small {
  font-size: .7rem; }

section {
  padding: 60px 0;
  box-sizing: border-box; }

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent; }

section#home {
  background: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  section#home .mobile-menu {
    display: none; }
  section#home .home-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    section#home .home-wrapper .logo {
      width: 80vw;
      margin: 0 auto; }
      @media (max-width: 920px) {
        section#home .home-wrapper .logo {
          width: 100vw;
          display: flex;
          justify-content: center; }
          section#home .home-wrapper .logo img {
            width: 90%;
            height: 10vw;
            transition: all 200ms ease-in-out; } }
    section#home .home-wrapper .menu-wrapper {
      display: flex;
      flex-direction: row; }
      section#home .home-wrapper .menu-wrapper ul {
        display: flex;
        flex-direction: row;
        list-style: none; }
        section#home .home-wrapper .menu-wrapper ul.lang-menu {
          margin-right: 3rem; }
        section#home .home-wrapper .menu-wrapper ul li {
          text-transform: uppercase; }
          section#home .home-wrapper .menu-wrapper ul li.li-sep {
            margin: 0 .2rem; }
          section#home .home-wrapper .menu-wrapper ul li.li-item {
            margin: 0 1rem; }
          section#home .home-wrapper .menu-wrapper ul li.li-booking a {
            color: #fff;
            background: #67C6B9;
            padding: .4rem .6rem;
            border-radius: 6px;
            box-shadow: 0 1px 0 rgba(0, 0, 0, 0.4); }
            section#home .home-wrapper .menu-wrapper ul li.li-booking a:hover {
              box-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
              color: #fff;
              background: #69c7ba; }
          section#home .home-wrapper .menu-wrapper ul li a {
            text-decoration: none;
            color: #838383; }
            section#home .home-wrapper .menu-wrapper ul li a:hover {
              color: #333; }
            section#home .home-wrapper .menu-wrapper ul li a.active {
              text-decoration: underline;
              color: #333; }
            section#home .home-wrapper .menu-wrapper ul li a.link--active {
              color: pink; }
      @media (max-width: 920px) {
        section#home .home-wrapper .menu-wrapper {
          flex-direction: column; }
          section#home .home-wrapper .menu-wrapper ul {
            flex-direction: column;
            padding: 0;
            text-align: center;
            justify-content: center;
            font-size: 1.3rem; }
            section#home .home-wrapper .menu-wrapper ul .li-booking {
              margin-top: .8rem !important; }
            section#home .home-wrapper .menu-wrapper ul.lang-menu {
              flex-direction: row;
              text-align: center;
              margin: 3rem auto 0 auto; } }
  @media (max-width: 920px) {
    section#home.minified .home-wrapper {
      background: rgba(255, 255, 255, 0.8);
      z-index: 100; }
      section#home.minified .home-wrapper .logo {
        position: fixed;
        text-align: center;
        top: 0;
        left: 0;
        width: 100%;
        background: rgba(255, 255, 255, 0.8);
        align-self: flex-start; }
        section#home.minified .home-wrapper .logo img {
          margin: .3rem 0;
          box-sizing: border-box;
          width: 90%;
          height: 10vw; } }
  @media (min-width: 921px) {
    section#home.minified .home-wrapper {
      z-index: 100;
      top: 0;
      left: 0;
      flex-direction: row;
      justify-content: space-between;
      position: fixed;
      width: 100%;
      background: rgba(255, 255, 255, 0.8);
      border-bottom: 1px solid rgba(170, 170, 170, 0.2); }
      section#home.minified .home-wrapper .logo {
        width: 20vw;
        margin: 0 4rem;
        display: flex;
        align-items: flex-start;
        justify-content: center; }
        section#home.minified .home-wrapper .logo img {
          width: 100%; } }
  section#home .schedule-container {
    position: fixed;
    width: 80vw;
    border: 1px solid #aaa; }

section#gallery {
  height: 100vh;
  position: relative; }
  section#gallery .gallery-list, section#gallery .gallery-list:after {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%; }
  section#gallery .gallery-list li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 18s linear infinite 0s; }
  section#gallery .gallery-list li div {
    z-index: 10;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    animation: titleAnimation 18s linear infinite 0s; }
  section#gallery .gallery-list li:nth-child(1) span {
    background-image: url("../img/salon1.jpg"); }
  section#gallery .gallery-list li:nth-child(2) span {
    background-image: url("../img/salon2.jpg");
    animation-delay: 6s; }
  section#gallery .gallery-list li:nth-child(3) span {
    background-image: url("../img/salon3.jpg");
    animation-delay: 12s; }

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in; }
  8% {
    opacity: 1;
    animation-timing-function: ease-out; }
  25% {
    opacity: 1; }
  40% {
    opacity: 0; }
  100% {
    opacity: 0; } }

section#service {
  width: 100%;
  text-align: center;
  padding: 80px 0;
  color: #555; }
  section#service a {
    color: #aaa;
    text-decoration: none; }
    section#service a:hover {
      color: #333; }
  section#service .service-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 440px;
    margin: 0 auto; }
    section#service .service-container .service-wrapper {
      width: 220px; }
      section#service .service-container .service-wrapper__left {
        text-align: left;
        border-right: 1px solid rgba(170, 170, 170, 0.2);
        width: 45%; }
      section#service .service-container .service-wrapper__right {
        text-align: right;
        width: 55%;
        padding-left: 2rem; }
      section#service .service-container .service-wrapper ul {
        list-style: none;
        padding: 0; }
        section#service .service-container .service-wrapper ul li {
          margin: 0; }
          section#service .service-container .service-wrapper ul li.li-header {
            font-weight: 500;
            margin-top: 1rem; }
          section#service .service-container .service-wrapper ul li.li-content {
            font-weight: 300; }
          section#service .service-container .service-wrapper ul li p {
            margin: 0;
            line-height: 1.2rem; }
  @media (max-width: 600px) {
    section#service {
      width: 90%;
      margin: 0 auto; }
      section#service .service-container {
        display: block;
        width: 100%; }
        section#service .service-container .service-wrapper {
          margin: 0 auto;
          text-align: center; }
          section#service .service-container .service-wrapper__left {
            border-right: none;
            width: 50%; }
          section#service .service-container .service-wrapper__right {
            width: 50%;
            padding-left: 0; } }

section#contact {
  background: #FFEDFC; }
  section#contact .info-container {
    text-align: center;
    margin-bottom: 2rem; }
  section#contact .map-container {
    width: 80vw;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 46.25%;
    position: relative;
    height: 0;
    border: 1px solid #ccc;
    box-sizing: border-box; }
    section#contact .map-container #map {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute; }
    @media (max-width: 920px) {
      section#contact .map-container {
        width: 100vw;
        padding-bottom: 56.25%;
        border: none; } }

section#impressum {
  text-align: center;
  background: #111;
  color: #ddd; }
  section#impressum .imp-list li p {
    margin: 0; }
