@import url("https://fonts.googleapis.com/css?family=Catamaran:300,400,500,600");
html, body {
  margin: 0;
  padding: 0;
  font-family: Catamaran, Arial;
  height: 2000px; }

.sub-title {
  text-align: center;
  font-size: 2.5rem;
  color: #333;
  font-weight: 300;
  margin: .5rem 0; }

section {
  padding: 60px 0;
  box-sizing: border-box; }

section#home {
  background: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  section#home .mobile-menu {
    display: none; }
  section#home .home-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    section#home .home-wrapper .logo {
      width: 80vw;
      margin: 0 auto; }
    section#home .home-wrapper .menu-wrapper {
      display: flex;
      flex-direction: row; }
      section#home .home-wrapper .menu-wrapper ul {
        display: flex;
        flex-direction: row;
        list-style: none; }
        section#home .home-wrapper .menu-wrapper ul li {
          text-transform: uppercase; }
          section#home .home-wrapper .menu-wrapper ul li.li-sep {
            margin: 0 .2rem; }
          section#home .home-wrapper .menu-wrapper ul li.li-item {
            margin: 0 1rem; }
          section#home .home-wrapper .menu-wrapper ul li.li-booking a {
            color: #fff;
            background: #67C6B9;
            padding: .2rem .4rem;
            border-radius: 6px; }
            section#home .home-wrapper .menu-wrapper ul li.li-booking a:hover {
              box-shadow: 0 2px 2px rgba(0, 0, 0, 0.7); }
          section#home .home-wrapper .menu-wrapper ul li a {
            text-decoration: none;
            color: #838383; }
            section#home .home-wrapper .menu-wrapper ul li a:hover {
              color: #333; }
      @media (max-width: 920px) {
        section#home .home-wrapper .menu-wrapper {
          flex-direction: column; }
          section#home .home-wrapper .menu-wrapper ul {
            flex-direction: column;
            padding: 0;
            text-align: center;
            justify-content: center; }
            section#home .home-wrapper .menu-wrapper ul.lang-menu {
              flex-direction: row;
              text-align: center; } }
  @media (max-width: 920px) {
    section#home.minified .home-wrapper {
      display: none; }
    section#home.minified .mobile-menu {
      z-index: 100;
      display: flex;
      position: fixed;
      top: 0;
      background: rgba(255, 255, 255, 0.95);
      width: 100vw;
      height: 40px; }
      section#home.minified .mobile-menu p {
        margin: 0; } }
  section#home.minified .home-wrapper {
    z-index: 100;
    top: 0;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(170, 170, 170, 0.2); }
    section#home.minified .home-wrapper .logo {
      width: 20vw;
      margin: 0 4rem;
      display: flex;
      align-items: flex-start;
      justify-content: center; }

section#gallery {
  height: 100vh;
  position: relative; }
  section#gallery .gallery-list, section#gallery .gallery-list:after {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%; }
  section#gallery .gallery-list li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 18s linear infinite 0s; }
  section#gallery .gallery-list li div {
    z-index: 10;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    animation: titleAnimation 18s linear infinite 0s; }
  section#gallery .gallery-list li:nth-child(1) span {
    background-image: url("/assets/img/salon1.jpg"); }
  section#gallery .gallery-list li:nth-child(2) span {
    background-image: url("/assets/img/salon2.jpg");
    animation-delay: 6s; }
  section#gallery .gallery-list li:nth-child(3) span {
    background-image: url("/assets/img/salon3.jpg");
    animation-delay: 12s; }

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in; }
  8% {
    opacity: 1;
    animation-timing-function: ease-out; }
  25% {
    opacity: 1; }
  40% {
    opacity: 0; }
  100% {
    opacity: 0; } }

section#service {
  width: 100%;
  text-align: center;
  padding: 80px 0;
  color: #555; }
  section#service a {
    color: #aaa;
    text-decoration: none; }
    section#service a:hover {
      color: #333; }
  section#service .service-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    section#service .service-container .service-wrapper {
      width: 220px; }
      section#service .service-container .service-wrapper__left {
        text-align: left;
        border-right: 1px solid rgba(170, 170, 170, 0.2); }
      section#service .service-container .service-wrapper__right {
        text-align: right; }
      section#service .service-container .service-wrapper ul {
        list-style: none;
        padding: 0; }
        section#service .service-container .service-wrapper ul li {
          margin: 0; }
          section#service .service-container .service-wrapper ul li.li-header {
            font-weight: 500;
            margin-top: 1rem; }
          section#service .service-container .service-wrapper ul li.li-content {
            font-weight: 300; }
          section#service .service-container .service-wrapper ul li p {
            margin: 0;
            line-height: 1.2rem; }

section#contact {
  height: 100vh;
  background: #FFEDFC; }
