section#jobs
  //background: #34CCB4
  padding-top: 0 !important

  .logo
    margin: 0 auto
    width: 100%
    text-align: center
    display: block
    img
      width: 60%

  .jobs-container
    text-align: left
    color: #444

    .jobs-text
      padding: 3rem 6rem
      background: #FFDDBA
      width: 80%
      margin: 0 auto
      border-radius: 1.3rem

    @media(max-width: 980px)
      padding: 0 0rem

      .jobs-text
        width: 80%