section#service
  width: 100%
  //height: 100vh
  text-align: center
  //padding: 80px 0
  color: #555
  background: #EAD2B7

  a
    color: #aaa
    text-decoration: none
    &:hover
      color: #333

  .service-container
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    width: 440px
    margin: 0 auto
    .service-wrapper
      width: 220px

      &__left
        text-align: left
        border-right: 1px solid rgba(#aaa, .2)
        width: 45%
      &__right
        text-align: right
        width: 55%
        padding-left: 2rem
      ul
        list-style: none
        padding: 0

        li
          margin: 0
          &.li-header
            font-weight: 500
            margin-top: 1rem
          &.li-content
            font-weight: 300

          p
            margin: 0
            line-height: 1.2rem

  @media(max-width: 600px)
    padding: 30px 1rem
    margin: 0 auto

    .service-container
      display: block
      width: 100%

      .service-wrapper
        margin: 0 auto
        text-align: center

        &__left
          border-right: none
          width: 50%
        &__right
          width: 50%
          padding-left: 0